<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <br>
    <%= f.text_area :message, placeholder: "Message...", style: "width:400px"  %>
  </div>
  <div >
    <%= f.hidden_field :post_id, :value => params[:post_id] %>
  </div>
  <div class="field">
    <br>
    <%= f.text_field :parent_id, placeholder: "Parent id", style: "width:400px"  %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Create Comment", class: "btn btn-primary btn-sm" %> or
    <%= link_to 'Back', comments_path, class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
