<h1>Listing photoalbums</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photoalbums.each do |photoalbum| %>
      <tr>
        <td><%= photoalbum.name %></td>
        <td><%= photoalbum.description %></td>
        <td><%= photoalbum.picture %></td>
        <td><%= link_to 'Show', photoalbum %></td>
        <td><%= link_to 'Edit', edit_photoalbum_path(photoalbum) %></td>
        <td><%= link_to 'Destroy', photoalbum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photoalbum', new_photoalbum_path %>
