<center>
<p id="notice"><%= notice %></p>

<div class="row container">
    <div class="panel panel-default">
      <div class="panel-body">
  		<p><h2><%= @photoalbum.name %></h2></p>
  		<p><%= @photoalbum.description %></p>
  		 <br></br>
  		<img class="img-responsive"<%= image_tag(@photoalbum.picture_url, class: 'img-rounded', :width => 800) if @photoalbum.picture.present? %>>
  		  <br></br>
      </div>
    </div>
</div>

<div class="row">
	<%= link_to 'Back', photoalbums_path(:cabin_id => @photoalbum.cabin_id), class: 'btn btn-info' %>
  <%= link_to 'Edit', edit_photoalbum_path(@photoalbum), class: 'btn btn-info' %>
</div>

</center>
