<%= form_for(@cabin) do |f| %>
  <% if @cabin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cabin.errors.count, "error") %> prohibited this cabin from being saved:</h2>

      <ul>
      <% @cabin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <br>
    <%= f.text_field :navn, placeholder: "Name", style: "width:400px" %>
  </div>
  <div class="field">
    <br>
    <%= f.text_field :address, placeholder: "Address", style: "width:400px" %>
  </div>
  <div class="field">
    <br>
    <%= f.text_area :descritpion, placeholder: "Description", style: "width:400px" %>
  </div>
  <div class="actions">
    <br>
    <% if request.original_url.split("/").last == "edit" %>
      <%= f.submit "Edit Cabin", class: "btn btn-primary btn-sm" %> 
    <% else %>
      <%= f.submit "Create Cabin", class: "btn btn-primary btn-sm" %> 
    <% end %>
    <%= link_to 'Back', cabins_path, class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
