<p id="notice"><%= notice %></p>

<p>
  <strong>Navn:</strong>
  <%= @cabin.navn %>
</p>

<p>
  <strong>Address:</strong>
  <%= @cabin.address %>
</p>

<p>
  <strong>Descritpion:</strong>
  <%= @cabin.descritpion %>
</p>

<h3>Posts</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Message</th>
      <th>Cabin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cabin.posts.each do |post| %>
      <tr>
        <td><%= post.title %><br/></td>
        <td><%= post.message %></td>
        <td><%= post.cabin.navn %></td>
        <td><%= link_to 'Show', post, class: 'btn btn-info btn-sm' %></td>
        <td><%= link_to 'Edit', edit_post_path(post), class: 'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Edit', edit_cabin_path(@cabin) %> |
<%= link_to 'Back', cabins_path %>
