<center>
  <div class="row container">
    <div class="col-md-2">
      <center>
        <img src="http://images.techtimes.com/data/images/full/4061/bill-gates-wealthiest-person.jpg?w=600" class="img-responsive img-rounded" alt="Responsive image">
      </center>
    </div>  
    <div class="col-md-10">
      <center>
        <div class="row">
          <h1>My Cottages</h1>
        </center>
    </div>
  </div>
</center>

<!--Make spece between Profile Picture and About me Panel -->
<div class="row container">
  <br></br>
</div>


<div class="row container">
  <div class="col-md-2">
<!--About Me Panel-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">About Me</h3>
      </div>
      <div class="panel-body">
        <p><%= @user.first_name %></p>
        <p><%= @user.email %></p>
        <p>+47 909 99 775</p>
        <% if current_user == @use %>
        <p><%= link_to 'Settings', edit_user_registration_path, class: "btn btn-primary btn-sm" %></p>
        <% end %>
      </div>
    </div>
  </div>
<!--Cottage Panell-->
  <div class="col-md-10">
    <% @cabins.each do |cabin| %>
    <% if cabin.user == @user %>
    <div class="panel panel-default">

      <div class="panel-body">

        <div class="col-md-3">
        <img src="http://betweennapsontheporch.net/wp-content/uploads/2014/09/Beach-Cottage-in-Florida-200x200.jpg" alt="Responsive image img-rounded" class="img-rounded img-responsive" alt="Responsive image">
        </div>
        <div class="col-md-7">
        <h4><%= link_to cabin.navn, cabin %></h4>
        <p><%= cabin.address %></p>
          <p><%= cabin.descritpion %></p>
          <p><%= link_to cabin.user.email, cabin.user %></p>
          <% if current_user == cabin.user %>
              <td><%= link_to 'Edit', edit_cabin_path(cabin), class: 'btn btn-warning btn-sm' %></td>
          <td><%= link_to 'Destroy', cabin, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
          <% end %>
        </div>
     </div>

    </div>
    <% end %>
    <% end %>
  </div>
</div>

<!--New Cabin Button-->
<center>
<div class="row container">
    <br>
      <%= link_to 'New Cabin', new_cabin_path, class: 'btn btn-info' %>
      <%= link_to 'All Cabins', cabins_path, class: 'btn btn-info' %>
  </div>

  </center>

<!--Make spece between Profile Picture and About me Panel -->
<div class="row container">
  <br></br>
</div>



