<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @post.message %>
</p>

<p>
  <strong>Cabin:</strong>
  <%= @post.cabin %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @post.parent %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
