<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @post.message %>
</p>

<p>	
  <strong>Cabin:</strong>
  <%= @post.cabin.navn %>
</p>

<%= link_to 'Edit', edit_post_path(@post, :cabin_id => @post.cabin.id) %> |
<%= link_to 'Back', @post.cabin %>
