<h1>Listing cabins</h1>

<table>
  <thead>
    <tr>
      <th>Navn</th>
      <th>Address</th>
      <th>Descritpion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cabins.each do |cabin| %>
      <tr>
        <td><%= cabin.navn %></td>
        <td><%= cabin.address %></td>
        <td><%= cabin.descritpion %></td>
        <td><%= link_to 'Show', cabin %></td>
        <td><%= link_to 'Edit', edit_cabin_path(cabin) %></td>
        <td><%= link_to 'Destroy', cabin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cabin', new_cabin_path %>
