<!DOCTYPE html>
<html>
<head>
  <title>TeamHytta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
    <div id="barLeft" class="navbar-left">
	<%= link_to " ", root_path, type:"button",class: "glyphicon glyphicon-home btn-lg", id:"home" %>

         </div>

    <div id="barRight" class="navbar-right">

          <% if user_signed_in? %>
            <%= link_to 'Log Out', destroy_user_session_path,
                  method: :delete, class: 'btn btn-danger btn-sm navbar-right' %>
          <% else %>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
              <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
            <%= f.submit "Log in", class: "btn btn-primary btn-sm"%>
            <% end %>
            <div><%= link_to "Forgot your password?", new_password_path(resource_name) %></div>
          </form>
          <% end %>
    </div>
  </div>
  </div>


    <div class="container">
    <%= yield %>
    </div>
    
</body>
</html>
